.limit-select {
  height: 3rem;
  width: 5rem;
  box-shadow: 0 1px 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(44, 44, 44);
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #8c8c8c;
}
