.custom-input {
  display: flex;
  height: 5rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid var(--border-color);
}

.field {
  padding: 1rem 2rem 0;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  vertical-align: bottom;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: rgb(51, 51, 51);
}

.info {
  padding-left: 1rem;
}

.error {
  color: rgb(255, 107, 107);
}

.pass {
  color: rgb(0, 148, 0);
}
